body {
    padding:0;
    margin-left: 30rem;
    margin-top: 12rem;
    display: flex;
    min-height: 50vh;
    user-select: none;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-left: 1.8rem;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 13px 13px 20px black, -13px -13px 20px black;
}

.btn{
    color: aliceblue;
}

.row button{
    width: 60px;
    height: 30px;
    font-size: 16px;
    background: black;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px black, -5px -5px 8px black;
}

.row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
    inset -5px -5px 8px black;
}

.display #screen {
    margin-bottom: .5em;
    width: auto;
    height: 70px;
    color: aliceblue;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: black;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px black inset -8px -8px 8px black;
}

#eval {
    background: black;
    color: aliceblue;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
    inset -5px -5px 8px black;
}

#ac{
    background: black;
    color: aliceblue;
}

#ac:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
    inset -5px -5px 8px black;
}

#ce{
    background: black;
    color: aliceblue;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
    inset -5px -5px 8px black;
}

::onclick {
    background: black;
    color: aliceblue;
}